<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bancos" href="/bancos">
      <ion-icon aria-hidden="true" name="business"></ion-icon>
      <ion-label>Bancos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gastos" href="/gastos">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallets" href="/wallets">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Wallets</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
