@media screen and (min-width: 0px) and (max-width: 400px) {
    .tabs{ display: block; }  /* show it on small screens */
  }
  
  @media screen and (min-width: 401px) and (max-width: 1024px) {
   .tabs{ display: none; }   /* hide it elsewhere */
  }

  ion-tab-bar {
    background-color: var(--ion-color-secondary);
  }