<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{template.title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/icon/refresh.svg" (click)="refresh()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="hu-page">
  <ion-list class="header2">
    <ion-card>
      <ion-select id="nombre" label="Nombre" [(ngModel)]="nuevoObj.id_servicio"></ion-select>
      <ion-input id="capital" label="Capital" [(ngModel)]="nuevoObj.monto" type="number"></ion-input>
      <ion-input id="vencimiento" label="Vencimiento" [(ngModel)]="nuevoObj.vencimiento" type="date"></ion-input>
      <div>
        <ion-button (click)="newGasto()">{{nuevoObj.id_servicio===0 ? 'Nuevo' : 'Cancelar'}}</ion-button>
        <ion-button (click)="save()" disabled="{{nuevoObj.id_servicio===0}}">Guardar</ion-button>
      </div>
    </ion-card>
  </ion-list>
  <ng-container *ngIf="listObjs else loading">
    <div class="scrollable" *ngFor="let objeto of listObjs">
      <ion-list>
        <ion-item>
          <ion-col size="2">{{objeto.nombre}}</ion-col>
          <ion-col size="3">$ {{objeto.monto | number: '2.0-2'}}</ion-col>
          <ion-col size="3">{{objeto.vencimiento | date: 'dd/MM/yyyy':'UTC'}}</ion-col>
          <ion-col size="2" style="text-align:end"><ion-button (click)="update(objeto)"><ion-icon src="../../assets/icon/edit.svg"></ion-icon></ion-button></ion-col>
          <ion-col size="2" style="text-align:end"><ion-button (click)="delete(objeto)"><ion-icon src="../../assets/icon/delete.svg"></ion-icon></ion-button></ion-col>
        </ion-item>
      </ion-list>  
    </div>
  </ng-container>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-item>
      <ion-col size="3">Total</ion-col>
      <ion-col>$ {{montoTotal | number: '2.1-2'}}</ion-col>
    </ion-item>  
  </ion-toolbar>
</ion-footer>
<ng-template #loading>
  <ion-card class="loading">Loading...</ion-card>
</ng-template>
