<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Wallets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="hu-page">
  <ion-list class="header2">
    <ion-input id="nombre" label="Nombre" [(ngModel)]="nuevoWallet.nombre"></ion-input>
    <ion-input id="capital" label="Capital" [(ngModel)]="nuevoWallet.capital"></ion-input>
    <ion-button (click)="newWallet()">{{nuevoWallet.nombre==='' ? 'Nuevo' : 'Cancelar'}}</ion-button>
    <ion-button (click)="save()" disabled="{{nuevoWallet.nombre===''}}">Guardar</ion-button>
  </ion-list>
  <div class="scrollable" *ngFor="let wallet of listWallets">
    <ion-list>
      <ion-item>
        <ion-col>{{wallet.nombre}}</ion-col>
        <ion-col>{{wallet.capital}}</ion-col>
        <ion-col><ion-button (click)="update(wallet)">Editar</ion-button></ion-col>
        <ion-col><ion-button (click)="delete(wallet)">Borrar</ion-button></ion-col>
      </ion-item>
    </ion-list>  
  </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-item>
      <ion-col size="3">Total</ion-col>
      <ion-col>{{montoTotal}}</ion-col>
    </ion-item>  
  </ion-toolbar>
</ion-footer>