@import "@ionic/angular/css/core.css";

.hu-page {

    margin: 8px;
    
    ion-tab-button {
        --background: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);

        &:nth-of-type(2) {
            padding-right: 56px;
        }
    }

    .header2 {
        border-bottom: 1px solid var(--ion-color-primary);
    }
}

ion-footer {
    transform: translateY(-20px);
}