@import "@ionic/angular/css/core.css";

.hu-page {

    padding: 8px;
    min-height: 100%;
    width: 97%;
    background-color: #C4C4C4;
 
    ion-list {
        padding: 0px;
    }

    ion-list-header {
        border-top: 2px solid var(--ion-color-secondary);
        border-bottom: 2px solid var(--ion-color-secondary);
        font-weight: 700;
        text-align: center;
        display: flex;
    }

    ion-tab-button {
        --background: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);

        &:nth-of-type(2) {
            padding-right: 56px;
        }

        &.tab-selected {
            color: var(--color-selected) !important;
        }
    }

    hb-button {
        ion-icon {
            fill: var(--ion-color-secondary) !important;
        }
        font-size: 1rem;
    }

    .short {
        height: 450px;
    }

    .long {
        height: 620px;
    }

    .home-card {
        padding: 4px 16px 16px 16px;
    }

    .header2 {
        border-bottom: 1px solid var(--ion-color-primary);
        background-color: #C4C4C4;

        ion-card {
            padding: 4px 16px 8px 16px;
        }
    }
    .scrollable {
        overflow-y: scroll;
    }

    .loading {
        padding: 12px;
        color: #000;
        text-align: center;
    }

    .text-right {
        text-align: end;
    }
}

ion-footer {
    transform: translateY(-20px);
}