<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bienvenido a tu app contable
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon class="black-icon" src="../../assets/icon/refresh.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="hu-page">
    <ion-card class="home-card">
      <ion-row>
        <ion-col size="9">
          <h4>Disponible (liquidez)</h4>
          <ion-text>$ {{efectivo | number: '1.0-2'}}</ion-text>
          <h4>Gastos fijos del mes</h4>
          <ion-text>$ {{porPagar | number: '1.0-2'}}</ion-text>
        </ion-col>
        <ion-col size="3" style="align-content: center;">
          <hb-button titulo="Efectivo" imagen="assets/icon/money.svg" (actionClicked)="getConfig()"></hb-button>
        </ion-col>
      </ion-row>
    </ion-card>


    <ion-card class="home-card">
      <ion-row style="align-items: center;">
        <ion-col size="11">
          <h4>Vencimientos</h4>
        </ion-col>
        <ion-col size="1" *ngIf="(vencimientos.inversion===today || vencimientos.fijo===today)">
          <ion-icon style="width: 12px; height: 12px;" src="../../assets/icon/alert.svg" color="danger"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <strong>Plazo fijo: </strong>
        </ion-col>
        <ion-col size="3">
          <ion-text>{{vencimientos.inversion | date:'dd/MM/yyyy': 'UTC'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <strong>Servicio: </strong>
        </ion-col>
        <ion-col size="3">
          <ion-text>{{vencimientos.fijo | date:'dd/MM/yyyy': 'UTC'}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="home-card">
      <h4>Hoy</h4>
      <ion-row>
        <ion-col size="4">
          <strong>Puedo gastar: </strong>
        </ion-col>
        <ion-col size="4">
          <ion-text>$ {{maximoPorDia | number:'1.0-2'}}</ion-text>
        </ion-col>
        <ion-col size="4">
          <strong>(constante en el mes entero)</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <strong>Puedo gastar: </strong>
        </ion-col>
        <ion-col size="4">
          <ion-text>$ {{acumuladoMes | number:'1.0-2'}}</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text>(por lo ahorrado, desde hoy a fin de mes)</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <strong>Ya gaste: </strong>
        </ion-col>
        <ion-col size="4">
          <ion-text>$ {{gastado | number:'1.0-2'}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="home-card">
      <h4>Fondos de inversion</h4>
      <ion-row>
        <ion-col size="4">
          <strong>Invertido</strong>
        </ion-col>
        <ion-col size="4">
          <ion-text>$ {{invertido | number:'1.0-2'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <strong>Ganado hoy</strong>
        </ion-col>
        <ion-col size="4">
          <ion-text>$ {{gananciaDia | number:'1.0-2'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <strong>Proyeccion mensual</strong>
        </ion-col>
        <ion-col size="4">
          <ion-text>$ {{(gananciaDia * diasDelMes) | number:'1.0-2'}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  </ion-content>
<ion-modal [isOpen]="isModalOpen" initial-breakpoint="0.3">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar efectivo
        </ion-title>
        <ion-buttons slot="end">
          <ion-button color="medium" (click)="isModalOpen = false">
            <ion-icon src="../../assets/icon/close.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-col size="6">{{efectivoObj.nombre}}</ion-col>
        <ion-col size="6"><ion-input [(ngModel)]="efectivoObj.valor"></ion-input></ion-col>
      </ion-item>
      <ion-button color="primary" expand="block" (click)="salvarConfig()">Guardar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>